.floatLeft
{
  float: left !important;
}

.table_postWithFeaturePicture
{
  border: 0px !important;
  margin: 0 !important;
  font-size: 1em !important;
}

.table_postWithFeaturePicture td
{
  border: 0px !important;
  padding: 0 !important;
  vertical-align: top !important;
}

.table_postWithFeaturePicture td:first-of-type
{
  width: 150px !important;
  vertical-align: middle !important;
}

.table_postWithFeaturePicture td::nth-of-type(2)
{
  padding-left: 25px
}
