---
title: "Hello World!"
layout: splash
permalink: /
date: 2017-01-23T11:48:41-04:00
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/unsplash-image-2.jpg
  cta_label: "I am Button"
  cta_url: "/"
  caption: "Photo credit: [**Unsplash**](https://unsplash.com)"
excerpt: "This is a blog of a man. It is hosted on Github, based on the technologies of JekyII, Liquid, Markdown and Minimal Mistakes."

feature_row:
  - image_path: assets/images/unsplash-gallery-image-1-th.jpg
    alt: "placeholder image 1"
    title: "Placeholder 1"
    excerpt: "This is some sample content that goes here with **Markdown** formatting."
  - image_path: /assets/images/unsplash-gallery-image-2-th.jpg
    alt: "placeholder image 2"
    title: "Placeholder 2"
    excerpt: "This is some sample content that goes here with **Markdown** formatting."
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--inverse"
  - image_path: /assets/images/unsplash-gallery-image-3-th.jpg
    title: "Placeholder 3"
    excerpt: "This is some sample content that goes here with **Markdown** formatting."
feature_row4:
  - image_path: /assets/images/unsplash-gallery-image-2-th.jpg
    alt: "placeholder image 2"
    title: "Placeholder Image Center Aligned"
    excerpt: 'This is some sample content that goes here with **Markdown** formatting. Centered with `type="center"`'
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--inverse"
---

<h2>What's new?</h2>

{% comment %}
{% include feature_row id="intro" type="center" %}
{% include feature_row %}
{% include feature_row id="feature_row2" type="left" %}
{% include feature_row id="feature_row3" type="right" %}
{% include feature_row id="feature_row4" type="center" %}
{% endcomment %}

{% comment %}
{% if post.path contains 'samplePosts' %}
{% endif %}
{% for post in site.posts %}
{% endfor %}
<div class="feature__item{% if include.type %}--{{ include.type }}{% endif %}">
alt="{% if f.alt %}{{ f.alt }}{% endif %}">
{% if post.url %}
  <p><a href="{{ f_url }}" class="btn {{ f.btn_class }}">{{ f.btn_label | default: site.data.ui-text[site.locale].more_label | default: "Learn More" }}</a></p>
{% endif %}
<div class="feature__item--{% if forloop.index%2 == 1 %}left{% else %}right{% endif %}">
{% endcomment %}


{% assign postNumber = 0 %}
{% for post in site.categories.Technology %}
  
  {% if postNumber == 3 %}
    {% break %}
  {% endif %}
  
  {% if post.featurePicture %}
  
    {% increment postNumber %}
    <div class="feature__wrapper">
        <div class="feature__item--{% cycle 'left', 'right' %}">
          <div class="archive__item">
            {% if post.featurePicture %}
              <div class="archive__item-teaser">
                <img src=
                  {% if post.featurePicture contains "://" %}
                    "{{ post.featurePicture }}"
                  {% else %}
                    "{{ post.featurePicture | absolute_url }}"
                  {% endif %}
                >
              </div>
            {% endif %}
            <div class="archive__item-body">
              {% if post.title %}
                <h2 class="archive__item-title">{{ post.title }}</h2>
              {% endif %}
              {% if post.excerpt %}
                <div class="archive__item-excerpt">
                  {{ post.excerpt | markdownify }}
                </div>
              {% endif %}
              {% if post.url %}
                <p><a href="{{ post.url }}" class="btn btn--inverse">{{ default: site.data.ui-text[site.locale].more_label | default: "Learn More" }}</a></p>
              {% endif %}
            </div>
          </div>
        </div>
    </div>
  {% endif %}
{% endfor %}
