---
title: "Hello World!"
layout: splash
permalink: /
date: 2017-01-23T11:48:41-04:00
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/unsplash-image-2.jpg
  cta_label: "About Me"
  cta_url: "/aboutMe/"
  caption: "Photo credit: [**Unsplash**](https://unsplash.com)"
excerpt: "This is a simple blog. It is hosted on Github, based on the technologies of JekyII, Liquid, Markdown and Minimal Mistakes."

---

<h1 class='whatsNew'>What's new?</h1>

<!-- 3 Column Display  -->
<div class="feature__wrapper">
  {% assign postNumber = 0 %}
  {% for post in site.categories.Blog %}

    {% if postNumber == 3 %}
      {% break %}
    {% endif %}

    {% if post.featurePicture %}
      {% assign postNumber = postNumber | plus: 1 %}
      <div class="feature__item">
        <div class="archive__item">
          {% if post.featurePicture %}
            <div class="archive__item-teaser">
              <img src=
                {% if post.featurePicture contains "://" %}
                  "{{ post.featurePicture }}"
                {% else %}
                  "{{ post.featurePicture | absolute_url }}"
                {% endif %}
              >
            </div>
          {% endif %}
          <div class="archive__item-body">
            {% if post.title %}
              <h2 class="archive__item-title">{{ post.title }}</h2>
            {% endif %}
            {% if post.excerpt %}
              <div class="archive__item-excerpt">
                {{ post.excerpt | markdownify }}
              </div>
            {% endif %}
            {% if post.url %}
              <p><a href="{{ post.url }}" class="btn btn--inverse">{{ default: site.data.ui-text[site.locale].more_label | default: "Learn More" }}</a></p>
            {% endif %}
          </div>
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>
<!-- 3 Column Display  -->
  
<!-- Left Right Left -->
{% assign postNumber = 0 %}
{% for post in site.categories.Programming %}

  {% if postNumber == 3 %}
    {% break %}
  {% endif %}
 
  {% if post.featurePicture %}
  
    {% assign postNumber = postNumber | plus: 1 %}
  
    <div class="feature__wrapper">
        <div class="feature__item--{% cycle 'left', 'right' %}">
          <div class="archive__item">
            {% if post.featurePicture %}
              <div class="archive__item-teaser">
                <img src=
                  {% if post.featurePicture contains "://" %}
                    "{{ post.featurePicture }}"
                  {% else %}
                    "{{ post.featurePicture | absolute_url }}"
                  {% endif %}
                >
              </div>
            {% endif %}
            <div class="archive__item-body">
              {% if post.title %}
                <h2 class="archive__item-title">{{ post.title }}</h2>
              {% endif %}
              {% if post.excerpt %}
                <div class="archive__item-excerpt">
                  {{ post.excerpt | markdownify }}
                </div>
              {% endif %}
              {% if post.url %}
                <p><a href="{{ post.url }}" class="btn btn--inverse">{{ default: site.data.ui-text[site.locale].more_label | default: "Learn More" }}</a></p>
              {% endif %}
            </div>
          </div>
        </div>
    </div>
  {% endif %}
{% endfor %}
<!-- Left Right Left -->
  
